<form action="/registrado" method="post">
    <h1>Registre-se</h1>
    <label>Usuário: <input type="text" name="usuario"></label>
    <label>E-mail: <input type="email" name="email"></label>
    <label>Senha: <input type="password" name="senha"></label>
    <button type="submit">Registrar</button>
</form>